@import "tailwindcss";

:root {
  /* --background: #E6E6E6; */
  --background: #E6E6E6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* bg-[E6E6E6] */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: smallheading;
  src: url("../fonts/jetbrainsmono/JETBRAINSMONO-VARIABLEFONT_WGHT_0.TTF");
}

@font-face {
  font-family: heading;
  src: url("../fonts/ANTON-REGULAR.TTF");
}

h1,button,p{
  z-index: 11;
}
Image{
  z-index: 10;
}
h1,p,h2,h3,h4 , a{
  text-transform: uppercase;
  color: #2C2C2C;
}
h1{
  font-size: 10vw;
  font-family: heading;
  line-height: vw;
  /* color:#3838CE; */

}
h3{
  font-family: smallheading;
  font-size: 5.2vw;


}
h4{
  font-family: smallheading;
  font-size: 1.2vw;
  


}

h2{
  font-family: heading;
  font-size: 2vw;
  line-height: 2.1vw;
 

}
p{
  font-family: smallheading;
  font-size: .9vw;
  /* font-size: 1.2vw; */
  line-height: 1vw;
 
}

Footer{
  background-color: #FF5151;
  /* color: #E6E6E6; */
}